.app {
  display: flex;
  width: 100%;
}

.column {
  flex: 1;
  padding: 10px;
  border: 1px solid black; /* Added border */
}

.big-card {
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  padding-bottom: 40px;
  margin-top: 40px;
}

.category-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.eachcard {
  flex: 0 1 48%;
  background-color: #b5d0e8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.eachcard.overlap {
  background-color: #D8D8D8;
}

.eachcard.overlap .details button {
  background-color: #9C9898;
}

.eachcard .category {
  flex: 1;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  margin-top: 10px;
}

.eachcard .vertical-line {
  border-left: 2px solid black;
  height: 95%;
  margin: 0 10px;
}

.eachcard .details {
  flex: 3;
  padding-left: 10px;
}

.eachcard .details span {
  display: block;
  margin-top: 5px;
}

.eachcard .details span.event-name {
  font-weight: bold;
  font-size: large;
}

.eachcard .details button {
  background-color: rgb(70, 137, 25);
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  width: 80%;
  border-radius: 5px;
}

.eachcard .details button.red-button {
  background-color: #E84646;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  width: 80%;
  border-radius: 5px;
}

.divider {
  width: 2px;
  background-color: #ccc;
  margin: 0 20px;
}

